<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DebugPOS.Properties.TransactionSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DebugPOS.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DebugPOS.Properties.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DebugPOS.Properties.Global" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DebugPOS.Sale" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DebugPOS.Properties.DefaultSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <DebugPOS.Properties.TransactionSettings>
            <setting name="BaseAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VATAmount" serializeAs="String">
                <value />
            </setting>
            <setting name="CashbackAmount" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtraAmount" serializeAs="String">
                <value />
            </setting>
            <setting name="VerificationOption" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthorizationOption" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomData" serializeAs="String">
                <value />
            </setting>
            <setting name="CardholderLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="CashierId" serializeAs="String">
                <value />
            </setting>
            <setting name="RegisterId" serializeAs="String">
                <value />
            </setting>
            <setting name="CardInsertionTimeout" serializeAs="String">
                <value />
            </setting>
            <setting name="MerchantId" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiptData" serializeAs="String">
                <value />
            </setting>
            <setting name="EntryOption" serializeAs="String">
                <value />
            </setting>
            <setting name="InvoiceOrders" serializeAs="String">
                <value />
            </setting>
            <setting name="EchoData" serializeAs="String">
                <value />
            </setting>
            <setting name="SalesLocationID" serializeAs="String">
                <value />
            </setting>
            <setting name="MerchantLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtraSettleInformation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseDcc" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurrencyCode" serializeAs="String">
                <value>0752</value>
            </setting>
            <setting name="ExternalReference" serializeAs="String">
                <value />
            </setting>
            <setting name="Key" serializeAs="String">
                <value />
            </setting>
            <setting name="OriginalInternalReference" serializeAs="String">
                <value />
            </setting>
            <setting name="OriginalExternalReference" serializeAs="String">
                <value />
            </setting>
            <setting name="PrintReceipt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendReceipt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableExternalNetworking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDialog" serializeAs="String">
                <value />
            </setting>
            <setting name="InvoiceReference" serializeAs="String">
                <value />
            </setting>
            <setting name="MobilePayReference" serializeAs="String">
                <value />
            </setting>
            <setting name="MerchantInformation" serializeAs="String">
                <value />
            </setting>
        </DebugPOS.Properties.TransactionSettings>
        <DebugPOS.GlobalSettings>
            <setting name="IP" serializeAs="String">
                <value>10.232.130.103</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1337</value>
            </setting>
            <setting name="CurrencyCode" serializeAs="String">
                <value>0752</value>
            </setting>
        </DebugPOS.GlobalSettings>
        <DebugPOS.Properties.GlobalSettings>
            <setting name="IPorCOM" serializeAs="String">
                <value>10.232.130.103</value>
            </setting>
            <setting name="PortOrBaud" serializeAs="String">
                <value>1337</value>
            </setting>
            <setting name="PrintReceiptToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendReceiptToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableDialog" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableExternalNetworking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogMode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="IntegrationKey" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalIP" serializeAs="String">
                <value />
            </setting>
            <setting name="LocalPort" serializeAs="String">
                <value>1338</value>
            </setting>
        </DebugPOS.Properties.GlobalSettings>
        <DebugPOS.Properties.Global>
            <setting name="IP" serializeAs="String">
                <value>10.232.130.103</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1337</value>
            </setting>
            <setting name="CurrencyCode" serializeAs="String">
                <value>0752</value>
            </setting>
            <setting name="PrintReceiptToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendReceiptToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MerchantLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalReference" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableDialog" serializeAs="String">
                <value />
            </setting>
            <setting name="EchoData" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableExternalNetworking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SalesLocationId" serializeAs="String">
                <value />
            </setting>
            <setting name="LogMode" serializeAs="String">
                <value>3</value>
            </setting>
        </DebugPOS.Properties.Global>
        <DebugPOS.Sale>
            <setting name="BaseAmount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VerificationOption" serializeAs="String">
                <value />
            </setting>
            <setting name="AuthorizationOption" serializeAs="String">
                <value />
            </setting>
            <setting name="CardholderLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="CashierId" serializeAs="String">
                <value />
            </setting>
            <setting name="RegisterId" serializeAs="String">
                <value />
            </setting>
            <setting name="MerchantId" serializeAs="String">
                <value />
            </setting>
            <setting name="ReceiptData" serializeAs="String">
                <value />
            </setting>
            <setting name="EntryOption" serializeAs="String">
                <value />
            </setting>
            <setting name="InvoiceOrders" serializeAs="String">
                <value />
            </setting>
        </DebugPOS.Sale>
        <DebugPOS.Properties.DefaultSettings>
            <setting name="IP" serializeAs="String">
                <value>10.232.130.103</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>1337</value>
            </setting>
            <setting name="CurrencyCode" serializeAs="String">
                <value>0752</value>
            </setting>
            <setting name="PrintReceiptToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SendReceiptToggle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MerchantLanguage" serializeAs="String">
                <value />
            </setting>
            <setting name="ExternalReference" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableDialog" serializeAs="String">
                <value />
            </setting>
            <setting name="EchoData" serializeAs="String">
                <value />
            </setting>
            <setting name="EnableExternalNetworking" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SalesLocationId" serializeAs="String">
                <value />
            </setting>
            <setting name="LogMode" serializeAs="String">
                <value>3</value>
            </setting>
        </DebugPOS.Properties.DefaultSettings>
    </userSettings>
</configuration>